body,html {
  margin: 0;
}
header{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    top: 40px;
}

#Title-Name {
  transition-duration: 2s;
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
}

#Title-Name:hover {
  margin: 0;
  letter-spacing: 2px;
}

main {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    position: relative;
    top: 40px;
}

#drop{
    background-color: green;
}

#Games-First a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
  display:inline-block;
}

#Games-Second a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
  display:inline-block;
}

#Games-Third a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
  display:inline-block;
}

#Games-Fourth a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
  display:inline-block;
}

#Games-Fifth a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
  display:inline-block;
}

#Games-First {
  background-color: green;
  position: relative;
  top: 40px;
}

#Games-Second {
  background-color: green;
  position: relative;
  top: 55px;
}

#Games-Third {
  background-color: green;
  position: relative;
  top: 70px;
}

#Games-Fourth {
  background-color: green;
  position: relative;
  top: 85px;
}

#Games-Fifth {
  background-color: green;
  position: relative;
  top: 100px;
}

#GameList {
    font-size: 30px;
    text-decoration: none;
    color: #FFC681;
    margin: 15px;
    display: inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}

ul li ul li { 
  background: #555; 
  display: block; 
}
